.menu-1,
.menu-2,
.menu-3 {
    height: 40rem;
    overflow: hidden;
}

.starters,
.mainDish {
    padding: 3rem 0;
}

.starters p.type,
.mainDish p.type {
    font-family: "Playwrite CU", cursive;
}

.dish-img {
    width: 100px;
}

/* .line-seprator div {
    width: 20rem;
    height: 1px;
    background-color: #bdab81;
    margin: 4px 0;
} */

.empty {
    width: 500px;
    height: 250px;
    /* background-color: #bdab81; */
    border: 2px solid #bdab81;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: 0;
}

.full {
    width: 200px;
    height: 200px;
    background-color: #bdab81;
    border: 2px solid #bdab81;
    position: absolute;
    right: -30px;
    bottom: -30px;
    z-index: 0;
}

.desc {
    width: 88%;
}